.color-preview {
  border: 1px solid #CCC;
  margin: 2px;
  float: left;
  zoom: 1;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

li.color-preview.selected {
  border:  2px solid #f00;
}
