.form-group.has-feedback.color-selector
  ul.nav
    li.color-preview(ng-repeat='option in myOptions' title='{{option.color.displyName}}' ng-click='setThis(option)' style='background-color:{{option.color.colorCode}};'  ng-class="{'selected':option.isSelected}" )
